.bg-image {
  height: 440px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)), url('/images/Rectangle1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.search-icon {
  left: 16px;
  top: 25px;
}

.banner-text {
  left: 200px;
  bottom: 80px;
}

.dropdown-toggle::after {
  display: none !important;
}

.modal-close {
  right: -10px;
  top: -5px;
}

.signin-modal-close {
  right: -10px;
  top: -5px;
}

.cardTitle {
  font-size: 22px;
  font-weight: 600;
  width: 75%;
}

.card-description {
  color: #5C5C5C;
  font-size: 19px;
}

.card-author-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px !important;
}

.views {
  margin-bottom: 0px !important;
  font-size: 14px;
  color: #525252;
}


.date-location-container {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 100px;
}

/* mobile device */

@media (max-width: 768px) {
  .bg-image {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url('/images/Rectangle4.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner-text {
    left: 16px;
    bottom: 32px;
  }

  .article-card {
    margin: 10px;
    padding: 10px 0;
    border: 0 !important;
    margin: 10px 0 !important;
    box-shadow: 0 1px gray;
  }

  .cardTitle {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
    color: black;
  }

  .card-description {
    color: #495057;
    font-size: 14px;
  }

  .date-location-container {
    color: #212529;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .card-author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .card-author-title {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px !important;
  }

  .views {
    margin-top: 0px;
    font-size: 12px;
    color: #495057;
  }

  .modal-close {
    right: 10px;
    top: 15px;
  }

  .modal-close-account {
    right: 10px;
    top: 16px;
  }

  .signin-modal-close {
    right: 12px;
    top: 85px;
  }
}

/* tap device */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .bg-image {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url('/images/Rectangle4.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner-text {
    left: 32px;
    bottom: 48px;
  }

  .article-card {
    margin: 10px;
    padding: 10px 0;
    border: 0 !important;
    margin: 10px 0 !important;
    box-shadow: 0 1px gray;
  }

  .cardTitle {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
    color: black;
  }

  .card-description {
    color: #495057;
    font-size: 14px;
  }

  .date-location-container {
    columns: #212529;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  .card-author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .card-author-title {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px !important;
  }

  .views {
    margin-top: 0px;
    font-size: 12px;
    color: #495057;
  }

  .modal-close {
    right: 10px;
    top: 15px;
  }

  .modal-close-account {
    right: 10px;
    top: 16px;
  }

  .signin-modal-close {
    right: 12px;
    top: 65px;
  }
}